// Widget Header
.widget{
  background: $light-blue;
  margin-bottom: $xl-size;
}

.widget__request {
  margin: 0 auto;
  text-align: center;
}

.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.widget-header__title {
  margin: 0;
}